.Category {
    text-align: center;
  }
  
.Category-logo {
    animation: Category-logo-spin infinite 20s linear;
    height: 80px;
}

.Category-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.Category-title {
    font-size: 1.5em;
}

.Category-intro {
    font-size: large;
}

@keyframes Category-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
